name: CI

on:
  - push
  - pull_request

permissions: {}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        arch:
          - x64
          - arm64
        node:
          - 20
          - 22
          - 24
        os:
          - macos-latest
          - macos-15-intel
          - ubuntu-latest
          - windows-latest
        exclude:
          - arch: arm64
            os: macos-15-intel
          - arch: arm64
            os: ubuntu-latest
          - arch: arm64
            os: windows-latest
          - arch: x64
            os: macos-latest
        include:
          - arch: x86
            node: 20
            os: windows-latest
          - arch: x86
            node: 22
            os: windows-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          architecture: ${{ matrix.arch }}
      - run: npm install
      - run: npm test
  build:
    if: startsWith(github.ref, 'refs/tags/')
    needs: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        arch:
          - x64
        os:
          - macos-15-intel
          - ubuntu-22.04
          - windows-latest
        include:
          - arch: x86
            os: windows-latest
          - arch: arm64
            os: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 20
          architecture: ${{ matrix.arch }}
      - run: npm install
      - run: npm run prebuild
      - uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.os }}-${{ matrix.arch }}
          path: prebuilds
          retention-days: 1
  release:
    needs: build
    permissions:
      contents: write # Needed for softprops/action-gh-release.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v6
        with:
          path: prebuilds
      - run: echo "version=$(git describe --tags)" >> $GITHUB_OUTPUT
        id: get_version
      - run:
          tar -cvf "${{ steps.get_version.outputs.version }}-darwin-x64.tar" -C
          "prebuilds/macos-15-intel-x64" darwin-x64
      - run:
          tar -cvf "${{ steps.get_version.outputs.version }}-darwin-arm64.tar" -C
          "prebuilds/macos-latest-arm64" darwin-arm64
      - run:
          tar -cvf "${{ steps.get_version.outputs.version }}-linux-x64.tar" -C
          "prebuilds/ubuntu-22.04-x64" linux-x64
      - run:
          tar -cvf "${{ steps.get_version.outputs.version }}-win32-ia32.tar" -C
          "prebuilds/windows-latest-x86" win32-ia32
      - run:
          tar -cvf "${{ steps.get_version.outputs.version }}-win32-x64.tar" -C
          "prebuilds/windows-latest-x64" win32-x64
      - uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.get_version.outputs.version }}-*.tar
          token: ${{ secrets.GITHUB_TOKEN }}
